{% extends "homeapp/base.html" %}

{% load static %}


{% block content %}

  <!-- login -->
    <!-- Normal Breadcrumb Begin -->
    <section class="normal-breadcrumb set-bg" data-setbg="img/normal-breadcrumb.jpg">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <div class="normal__breadcrumb__text">
                      <h2>Login</h2>
                      <p>Bienvenido, que gusto volverte a ver</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Normal Breadcrumb End -->

  <!-- Login Section Begin -->
  <section class="login spad"style="margin-bottom: 250px;">
      <div class="container">
          <div class="row">
              <div class="col-lg-6">
                  <div class="login__form">
                      <h3>Iniciar Sesión</h3>
                      <form action="" method="POST">
                        {% csrf_token %}
                        <div style="width: 100%; margin-right: 50px; ">

                            {{form}}
                            
                            <div style="text-align: center;">
                                <br><button type="submit" class="btn btn-success">Iniciar Sesión</button>
                            </div>
                
                            {% if messages %}
                                {% for mensaje in messages %}
                                <div style="margin-top: 40px; ; text-align: center;">
                                    <span class="alert alert-{{mensaje.tags}}" style="text-align: center;">
                                    {{mensaje}}
                                    </span>
                                </div>
                                {% endfor %}
                            {% endif %}
                        </div>




                      </form>
                      
                  </div>
              </div>
              <div class="col-lg-6" style="margin-top: 120px; ">
                <div class="login__register">
                    <h3>¿No posees una cuenta?</h3>
                    <a href="{% url 'Autenticacion' %}" class="primary-btn" style="background-color: rgb(255, 208, 0); color: black;">Registrate ahora</a>
                </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Login end -->

  {% endblock %}



 