{% extends "homeapp/base.html" %}

{% load static %}

{% block content %}


<!-- Start Hero Section -->
<div class="hero" style="max-height: 300px;">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt" style="margin-top: -10px;">
                    
                    <p class="mb-4" style="margin-bottom: 0; margin-top: -10px;">"Vision Advance desarrolla soluciones innovadoras para detectar y prevenir anomalías en imágenes industriales, mejorando la eficiencia y seguridad de los procesos empresariales."</p>
                </div>
            </div>
            <div class="col-lg-7" style="margin-top: -10px;">
                <div class="hero-img-wrap" style="text-align: right; margin-top: -10px;">
                    <div style="margin-top: -10px;">
                        <img src="{% static 'homeapp/images/botella.png' %}" class="img-fluid" style="max-width: 50%; margin-top: -10px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- End Hero Section -->
    <!-- Start Why Choose Us Section -->
    <div class="why-choose-section" style="margin-top: -50px;">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-6">
                    <h2 class="section-title">Historia</h2>
                    <p class="mb-4"style="text-align: justify;">En el corazón de una bulliciosa ciudad industrial, un grupo de jóvenes emprendedores se reunieron con una visión ambiciosa: revolucionar la forma en que se detectan y manejan las anomalías en los procesos industriales. Con una combinación de experiencia en ingeniería, visión de negocio y pasión por la tecnología, fundaron 'Vision Advance'.

                        Desde el principio, el equipo de VisionTech se dedicó a desarrollar una plataforma avanzada de detección de anomalías en imágenes industriales. Trabajaron incansablemente, colaborando estrechamente con expertos en diferentes sectores industriales, perfeccionando algoritmos y optimizando procesos para garantizar la máxima precisión y confiabilidad en sus soluciones.
                        
                        Después de meses de arduo trabajo, VisionTech finalmente lanzó su plataforma al mercado. La respuesta fue abrumadora: las empresas de diversos sectores, desde la fabricación hasta la energía, vieron en las soluciones de VisionTech una oportunidad para mejorar la calidad, la seguridad y la eficiencia de sus operaciones.
                        
                        Con el tiempo, VisionTech se convirtió en un referente en el campo de la detección de anomalías, expandiendo sus operaciones a nivel internacional y colaborando con empresas líderes en todo el mundo. Sin embargo, su compromiso con la innovación y la excelencia nunca disminuyó, y continúan buscando nuevas formas de impulsar la industria hacia un futuro más seguro, eficiente y sostenible.</p>


                </div>

                <div class="col-lg-5">
                    <div class="img-wrap">
                        <img src="{% static 'homeapp/images/home.jfif'%}" alt="Image" class="img-fluid">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Why Choose Us Section -->

<!-- Start Product Section -->
    <div class="product-section"style="margin-top: -200px;">
        <div class="container">
            <div class="row">

                <!-- Start Column 1 -->
                <div class="col-md-12 col-lg-6 mb-5 mb-lg-0">
                    <h2 class="mb-4 section-title">Misión</h2>
                    <p class="mb-4" style="text-align: justify;">En nuestra empresa, nos dedicamos a ofrecer soluciones innovadoras para la detección y prevención de anomalías en imágenes industriales. Nuestro compromiso es proporcionar a nuestros clientes herramientas de vanguardia que les permitan mantener la seguridad, la eficiencia y la calidad en sus procesos industriales, contribuyendo así al crecimiento y la sostenibilidad de sus operaciones.</p>

                    
                </div> 
                <!-- End Column 1 -->
                <!-- Start Column 1 -->
                <div class="col-md-12 col-lg-6 mb-5 mb-lg-0">
                    <h2 class="mb-4 section-title">Visión</h2>
                    <p class="mb-4"style="text-align: justify;">Nos visualizamos como líderes en el desarrollo y la implementación de tecnologías avanzadas de detección de anomalías, 
                        siendo reconocidos a nivel mundial por nuestra excelencia en la innovación, el servicio al cliente y el impacto positivo que generamos en la industria. </p>
                </div> 
                <!-- End Column 1 -->
 
            </div>
        </div>
    </div>
    <!-- End Product Section -->

    <!-- Start Testimonial Slider -->
    <div class="testimonial-section"style="margin-top: -100px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mx-auto text-center">
                    <h2 class="section-title">Fundadores</h2>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="testimonial-slider-wrap text-center">

                        <div class="testimonial-slider">
                            
                            <div class="item">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8 mx-auto">

                                        <div class="testimonial-block text-center">
                                            <blockquote class="mb-5">
                                                <p>&ldquo;Ingeniero informático con experiencia en desarrollo de software. Apasionado por la tecnología, ha demostrado habilidades excepcionales en la aplicación de tecnologías industriales.&rdquo;</p>
                                            </blockquote>

                                            <div class="author-info">
                                                <div class="author-pic">
                                                    <img src="{% static 'homeapp/images/person_2.jpg'%}" alt="Maria Jones" class="img-fluid">
                                                </div>
                                                <h3 class="font-weight-bold">Jonathan Maldonado</h3>
                                                <span class="position d-block mb-3">CEO, Co-Founder</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div> 
                            <!-- END item -->

                            <div class="item">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8 mx-auto">

                                        <div class="testimonial-block text-center">
                                            <blockquote class="mb-5">
                                                <p>&ldquo;Emprendedor con formación en administración de empresas. Antes de cofundar Vision Advance, trabajó en el sector tecnológico, donde desarrolló habilidades en estrategia corporativa y gestión empresarial.&rdquo;</p>
                                            </blockquote>

                                            <div class="author-info">
                                                <div class="author-pic">
                                                    <img src="{% static 'homeapp/images/person_1.jpg'%}" alt="Maria Jones" class="img-fluid">
                                                </div>
                                                <h3 class="font-weight-bold">Francis García</h3>
                                                <span class="position d-block mb-3">CEO, Co-Founder.</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div> 
                            <!-- END item -->


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonial Slider -->

    {% endblock %}